.seo{
	padding-left: 20px;
	padding-right: 7px;
	border: solid #008000 2px;
	margin-bottom: 20px;
	background-color: #f5f5ef;
	border-radius: 5px;
}
.seo-header{
	background-color: #00cc00;
	padding-top: 10px;
	padding-bottom: 10px; 
	text-align: center;
	border-radius: 0 0 5px 5px;
	cursor: pointer;
}
.seo-header>span{
	background-color: #008000;
	color: white;
	padding: 5px 5px;
	border-radius: 5px;
}
#submit-btn{
	background-color: rgba(84, 86, 89, 0.6);
	display: flex;
	justify-content: center;
	margin-top: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
}
#submit-btn button{
	background-color: #ce0404;
	border: none;
	box-shadow: 3px 3px 2px rgba(229, 222, 215, 0.6);
	border-radius: 6px;
	padding: 7px;
	color: #f4f3f2;
	font-weight: bold;
}