*{
	box-sizing: border-box;
}

.container-fluid{
	padding:0px !important;
}

#body{
	display: none;
	padding-top: 10px;
}

#body .col-lg-2{
	padding-right: 0px;
	padding-left: 0px;
}

#body .row{
	margin:0px !important;
}

#header-wrapper{
	padding:5px 5px;
	background-color: #e20934;
}

#header-logo{
	display: inline-block;
}

#header-logo-img1{
	width:80px;
}

#header-logo-img2{
	width: 250px;
}




#left-sider-admin{
	border-left:solid #141516 3px !important;
	border-right:solid #141516 3px !important;
	border-top:solid #141516 15px !important;
	border-bottom:solid #141516 15px !important;
}

#left-sider-admin>ul{
	padding:0px;
}

.left-sider-admin-items>ul{
	position: absolute;
	left: 80%;
	padding: 0px;
	width: 100%;
	display: none;
	z-index: 10;
	-webkit-transition: all 1s; /* Safari */
    transition: width all 1s;

}

.left-sider-admin-items span{
	color: #ef0b31;
}

.left-sider-admin-items>ul li{
	margin-bottom: 20px;
}

.left-sider-admin-items>ul li a{
	background-color: #141516;
	padding: 10px;
	color: white;

}

.left-sider-admin-items{
	cursor: pointer;
	padding: 8px;
	text-align: center;
	-webkit-transition: all 1s; /* Safari */
    transition: width all 1s;
	
}

.left-sider-admin-items:hover{
	background-color: #e8bb0b;
	text-align: left;
}

.left-sider-admin-items:hover >ul{
	display: block;
}




